.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.codex
app.log
*.log
logs/

# models/
data/train_images/
data/test_images/
static/uploads/

# data/submission.csv
# data/submission_labeled.csv

.vercel/
vercel-frontend/.vercel/
.vercel
